/*
!/*.ahk
/discordBotTest.ahk
/test.ahk
!/*.md
!/.gitignore
!/script_files/
!/Libraries/
!/LibrariesV2/
!/Demo_Scripts/
script_files/*
!script_files/NeoKeyboardLayout/
!script_files/minesweeperSolver/
not_mine_or_examples/