.vscode/
*.code-workspace
tests_*.txt
not_mine_or_examples/
Unfinished_or_Abandoned/
test.ahk
test v1.ahk
discordBotTest.ahk
LibrariesV2/weeklyColor.ahk
\!ETERNAL_TODO.txt
script_files/*
!script_files/httpserver/
script_files/httpserver/*
!script_files/httpserver/meta/