/*
!/*.ahk
/wallpaper_scene_extractor.ahk
/discordSendBot.ahk
/httpserver.ahk
/everything.ahk
!/*.md
!/.gitignore
!/script_files/
!/Libraries/
!/LibrariesV2/
script_files/*
!script_files/NeoKeyboardLayout/
!script_files/minesweeperSolver/
not_mine_or_examples/
